/* .user-form {
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  width: 100%;
  max-width: 100%;
  box-shadow: none; /* modal already has shadow */
/* font-family: "Inter", "Segoe UI", sans-serif; */
/* } */
/* */

/* title */
.form-title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 600;
  color: #111827;
}

/* rows */
.row {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

/* inputs */
.row > input,
.row > select,
textarea {
  flex: 1;
  padding: 11px 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* focus */
.row > input:focus,
.row > select:focus,
textarea:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.18);
}

/* textarea */
textarea {
  width: 85%;
  min-height: 90px;
  resize: vertical;
  margin-bottom: 14px;
}

/* file upload */
.file-upload {
  border: 2px dashed #d1d5db;
  padding: 14px;
  border-radius: 12px;
  background: #f9fafb;
  margin-bottom: 18px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.fileUploadInput {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70px;
  position: relative;
}

/* actions */
.form-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn.primary {
  background: #0b57a4;
  color: #ffffff;
}

.btn.primary:hover {
  background: #0b57a4;
}

.btn.secondary {
  background: #f3f4f6;
  color: #111827;
}

.btn.secondary:hover {
  background: #e5e7eb;
}
